/*<meta />*/

p
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: Arial;
	vertical-align: top;
	border-spacing: 0;
}

p.Header
{
	font-weight: bold;
	margin-top: 15pt;
	font-family: Calibri;
	font-size: 9pt;
}

p.Footer
{
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	font-family: Calibri;
	font-size: 9pt;
}

h1.Heading1
{
	font-weight: bold;
	page-break-after: avoid;
	margin-bottom: 12pt;
	mc-heading-level: 1;
	font-family: Calibri;
	color: #771B61;
	font-size: 24pt;
}

p.BodyText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Calibri;
	color: #4F5457;
	font-size: 11pt;
}

td.td_1
{
	margin-bottom: 10pt;
	font-family: Helvetica;
	font-size: 11pt;
	vertical-align: top;
	border: solid 1px #c0c0c0;
	border-bottom-color: #c0c0c0;
}

span.C1HJump
{
	color: #008000;
}

p.HPContinue
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 29.5pt;
}

li.HPBulletIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 12pt;
	list-style-type: disc;
}

h2.Heading2
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 6pt;
	mc-heading-level: 2;
	font-family: Calibri;
	color: #3A557A;
	font-size: 18pt;
}

li.HPBullet
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	list-style-type: disc;
}

p.Caption
{
	font-size: 11pt;
	margin-bottom: 3pt;
	color: #4F5457;
	margin-top: 12pt;
	font-family: Calibri;
	font-style: italic;
	mc-auto-number-format: 'Table {n+}:';
	frame-break-after: avoid;
	page-break-after: avoid;
}

p.HPTableHeading
{
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 0pt;
	margin-right: 4pt;
	font-family: Calibri;
	color: #FFFFFF;
	text-align: left;
}

p.HPTableText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 10pt;
}

th.th_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #A5A5A5;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #A5A5A5;
	background-color: #3A557A;
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 6pt;
	padding-right: 6pt;
	color: #ffffff;
	text-align: left;
	font-family: Calibri;
	border-bottom-color: transparent;
	border-left-color: #c0c0c0;
	border-left-width: 0.5pt;
	page-break-after: avoid;
}

table.table_1
{
	margin-left: 5pt;
	border-collapse: collapse;
}

h3.Heading3
{
	margin-bottom: 10pt;
	font-weight: bold;
	color: #4F5457;
	page-break-after: avoid;
	margin-top: 17pt;
	mc-heading-level: 3;
	font-family: Calibri;
	font-size: 14pt;
}

li.HPBullet2
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	mc-auto-number-position: float-left;
	padding-left: 0;
	list-style-image: url('../Images/dash.png');
	margin-left: 11.5pt;
}

p.HPContinue2
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 42pt;
}

li.HPBullet2Indent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	mc-auto-number-position: float-left;
	list-style-image: url('../Images/dash.png');
	padding-left: 0pt;
	margin-left: 24pt;
}

span.BodyTextChar
{
	color: #4F5457;
	font-size: 11pt;
}

p.HPCaption
{
	color: #4F5457;
	font-style: italic;
	margin-top: 3pt;
	margin-bottom: 12pt;
	font-family: Calibri;
	font-size: 9pt;
	page-break-after: avoid;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.TableText
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Calibri;
}

p.HPNoteWarning
{
	color: #4F5457;
	font-size: 11pt;
	margin-top: 9pt;
	margin-bottom: 9pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #C00000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #C00000;
	font-family: Calibri;
}

span.HPNoteWarningChar
{
	color: #4F5457;
	font-size: 11pt;
}

li.HPBullet3Indent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-size: 11pt;
	font-family: Calibri;
	list-style-type: square;
	margin-left: 38pt;
}

p.HPNote
{
	color: #4F5457;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #771B61;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #771B61;
	margin-top: 9pt;
	margin-bottom: 9pt;
	font-family: Calibri;
}

span.HPNoteChar
{
	color: #4F5457;
	font-size: 11pt;
}

p.HPNumber
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	list-style-type: persian;
	list-style-position: inherit;
}

p.HPTableTextBullet
{
	margin-bottom: 3pt;
	color: #4F5457;
	margin-top: 0pt;
	margin-left: 29pt;
	font-family: Calibri;
	font-size: 10pt;
	list-style-type: circle;
	list-style-position: inside;
}

p.HPTableTextIndent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-size: 10pt;
	font-family: Calibri;
	margin-left: 42.5pt;
}

p.HPBullet
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
}

p.HPTableTextSmall
{
	color: #4F5457;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Calibri;
	font-size: 8pt;
}

p.BodyTextFirstIndent
{
	font-size: 11pt;
	color: #4F5457;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Calibri;
}

table.table_2
{
	margin-left: 6pt;
	border-collapse: collapse;
}

p.HPBulletIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
}

p.HPTableHeading2
{
	font-weight: bold;
	margin-bottom: 0pt;
	text-align: center;
	font-family: Calibri;
	color: black;
	font-size: 10pt;
}

p.Text
{
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Calibri;
	color: black;
}

p.HPTableTextBullet2
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	margin-left: 47pt;
	font-family: Calibri;
	font-size: 10pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

li.HPNumber
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 4pt;
	margin-left: -4.5pt;
}

li.HPNumberIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	padding-left: 2pt;
	margin-left: 10pt;
}

table.table_3
{
	border-collapse: collapse;
}

h1
{
	
}

span.NotePurple
{
	color: #771b61;
	font-weight: bold;
}

span.WarningRed
{
	color: #c00000;
	font-weight: bold;
}

td.TableDivider
{
	background-color: #d7dbdb;
	border-bottom-color: #b22222;
}

th.TableHeading2
{
	background-color: #f4edf2;
	font-family: Calibri;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	border: solid 1px #c0c0c0;
	page-break-after: avoid;
	page-break-inside: avoid;
	widows: 2;
}

ul.HPTableTextBullet2Replacement
{
	
}

ul.HPTableTextBullet2Replacement > li > ul
{
	list-style-type: disc;
	list-style-image: none;
}

ul.HPTableTextBullet2Replacement > li > ul > li::marker
{
	font-family: ;
	content: '-';
}

th.th_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #A5A5A5;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #A5A5A5;
	background-color: #3A557A;
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 6pt;
	padding-right: 6pt;
	color: #ffffff;
	text-align: left;
	font-family: Calibri;
	border-bottom-color: transparent;
	border-left-color: #c0c0c0;
	border-left-width: 0.5pt;
	page-break-after: avoid;
}

img.FitFrame
{
	max-width: 100%;
	min-width: 100%;
}

MadCap|xref
{
	color: #0562c1;
	font-family: Calibri;
	font-size: 11pt;
}

MadCap|conditionalText
{
	
}

th
{
	page-break-after: avoid;
}

MadCap|relatedTopics
{
	mc-image: none;
	mc-help-control-display: list;
	color: #771b61;
	mc-label: 'More:';
	font-weight: bold;
	font-size: 12pt;
}

@media print
{
	th.th_2
	{
		text-align: center;
		font-size: 11pt;
		padding-left: 2pt;
		padding-right: 2pt;
	}

	p.Caption
	{
		page-break-inside: avoid;
		mc-auto-number-format: 'Table {Gn+}: ';
	}

	img.FitFrame
	{
		width: auto;
	}

	MadCap|tocProxy.Heading1
	{
		color: #808080;
		font-family: Calibri;
		font-weight: bold;
		font-size: 12pt;
	}

	MadCap|tocProxy.Heading2
	{
		color: #808080;
		font-family: Calibri;
		font-size: 11pt;
	}

	MadCap|tocProxy.Heading3
	{
		color: #808080;
		font-family: Calibri;
		font-size: 10pt;
	}

	p.TOC1
	{
		font-family: Calibri;
		font-size: 12pt;
		color: #696969;
	}

	p.TOC2
	{
		font-family: Calibri;
		font-size: 11pt;
		color: #696969;
	}

	p.TOC3
	{
		font-family: Calibri;
		font-size: 10pt;
		color: #696969;
	}

	td.td_1
	{
		padding-left: 5pt;
		margin-left: 0pt;
		padding-bottom: 5pt;
		padding-top: 5pt;
		padding-right: 5pt;
		column-break-inside: avoid;
		page-break-inside: avoid;
	}

	td.td_center
	{
		margin-left: 0pt;
		padding-bottom: 5pt;
		text-align: center;
		border: solid 1px #c0c0c0;
		padding-left: 2pt;
		padding-top: 0pt;
	}

	ol.Captionaa
	{
		mc-auto-number-format: 'Table {n+}: ';
	}

	th.th_1
	{
		font-size: 11pt;
	}

	th.TableHeading2
	{
		margin-left: 5pt;
		margin-right: 5pt;
		padding-bottom: 5pt;
		padding-left: 15pt;
		padding-right: 10pt;
		page-break-inside: avoid;
		frame-break-after: avoid;
		page-break-after: avoid;
	}

	p
	{
		mc-hyphenate: never;
	}

	ol
	{
		mc-hyphenate: never;
	}

	a
	{
		mc-hyphenate: never;
	}

	li
	{
		mc-hyphenate: never;
	}

	MadCap|xref
	{
		mc-hyphenate: never;
		color: #0562c1;
	}

	span
	{
		mc-hyphenate: never;
	}

	table
	{
		mc-hyphenate: never;
	}

	td
	{
		mc-hyphenate: never;
	}

	th
	{
		mc-hyphenate: never;
	}

	ul
	{
		mc-hyphenate: never;
	}

	p.HPTableTextIndent
	{
		margin-left: 29.5pt;
	}

	span.FrontHeader
	{
		color: #3a557a;
		font-family: Calibri;
		font-size: 36pt;
		font-weight: bold;
	}

	p.Disclaimer
	{
		color: #4f5457;
		font-family: Calibri;
		font-size: 11pt;
	}

	li.HPBulletIndent
	{
		list-style-type: disc;
	}

	p.BodyText
	{
		
	}

	MadCap|xref.PageRef
	{
		color: #0562c1;
		mc-format: '{color #0562c1}{u}{para}{/u}{/color}  {color #4F5457}{pageref}{/color}';
	}

	MadCap|xref.PageRefTable
	{
		font-size: 10pt;
		color: #0562c1;
	}

	li.HPBullet2Indent
	{
		mc-auto-number-position: float-left;
	}

	h1.Heading1
	{
		mc-hyphenate: never;
	}

	MadCap|xref.CaptionReference
	{
		color: #0562c1;
		text-decoration: underline;
	}

	img.FitFramePopUp
	{
		min-width: 65%;
		max-width: 65%;
	}

	img.FitFrameMenuBarorSidePanels
	{
		max-width: 50%;
		min-width: 45%;
	}

	MadCap|conditionalText
	{
		mc-exclude-action: 'remove';
	}

	li.HPTableTextBullet2
	{
		margin-left: 12pt;
	}

	p.HPTableText
	{
		mc-hyphenate: never;
	}
}

img.FitFrameIndent
{
	min-width: 90%;
	max-width: 90%;
}

img.FitFramePopUp
{
	min-width: 35%;
	max-width: 50%;
}

img.FitFrameMenuBarorSidePanels
{
	max-width: 70%;
}

MadCap|xref.PageRef
{
	mc-format: '{u}{para}{/u} {color #4F5457} {pageref}{/color}';
}

MadCap|xref.CaptionReference
{
	mc-format: '{paranum}{paratext}';
	color: #808080;
	font-style: italic;
}

MadCap|xref.PageRefTable
{
	mc-format: '{u}{para}{/u} {color #4F5457} {pageref}{/color}';
	font-size: 10pt;
}

MadCap|xref.CaptionReferenceTable
{
	mc-format: '{paranum}{paratext}';
	color: #808080;
	font-style: italic;
	font-size: 10pt;
}

li.HPTableTextBullet
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	list-style-type: disc;
	font-size: 10pt;
}

li.HPTableTextBullet2
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	mc-auto-number-position: float-left;
	padding-left: 0;
	list-style-image: url('../Images/dash.png');
	margin-left: 11.5pt;
	font-size: 10pt;
}

li.HPTableTextBulletIndent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 12pt;
	list-style-type: disc;
	font-size: 10pt;
}

li.HPTableTextNumber
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	padding-left: 4pt;
	margin-left: -4.5pt;
	font-size: 10pt;
}

