/*<meta />*/

p
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ul
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

li
{
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

td
{
	font-family: Arial;
	vertical-align: top;
	border-spacing: 0;
}

p.Header
{
	font-weight: bold;
	margin-top: 15pt;
	font-family: Calibri;
	font-size: 9pt;
}

p.Footer
{
	font-weight: bold;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	font-family: Calibri;
	font-size: 9pt;
}

h1.Heading1
{
	font-weight: bold;
	page-break-after: avoid;
	margin-bottom: 12pt;
	mc-heading-level: 1;
	font-family: Calibri;
	color: #771B61;
	font-size: 30pt;
}

p.BodyText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Calibri;
	color: #4F5457;
	font-size: 11pt;
}

td.td_1
{
	margin-bottom: 10pt;
	font-family: Helvetica;
	font-size: 11pt;
	vertical-align: top;
	border: solid 1px #c0c0c0;
	border-bottom-color: #c0c0c0;
}

li.HPTableTextNumber
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	padding-left: 4pt;
	text-indent: 0;
	font-size: 10pt;
	margin-left: -5pt;
}

span.C1HJump
{
	color: #008000;
}

p.HPContinue
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 35pt;
}

li.HPBulletIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	padding-left: .75pt;
	mc-auto-number-position: inside-head;
	margin-left: 22pt;
}

h2.Heading2
{
	font-weight: bold;
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 6pt;
	mc-heading-level: 2;
	font-family: Calibri;
	color: #3A557A;
	font-size: 18pt;
}

li.HPBullet
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	list-style-type: disc;
	margin-left: 4pt;
}

p.Caption
{
	font-size: 11pt;
	margin-bottom: 3pt;
	color: #4F5457;
	margin-top: 12pt;
	font-family: Calibri;
	font-style: italic;
	mc-auto-number-format: 'Table {n+}:';
}

p.HPTableHeading
{
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 0pt;
	margin-right: 4pt;
	font-family: Calibri;
	color: #FFFFFF;
	text-align: left;
}

p.HPTableText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 10pt;
	margin-left: 6pt;
}

li.HPTableTextBullet
{
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 10pt;
	margin-top: 3pt;
	padding-left: 4pt;
	margin-left: 5pt;
}

th.th_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #A5A5A5;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #A5A5A5;
	background-color: #3A557A;
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 6pt;
	padding-right: 6pt;
	color: #ffffff;
	text-align: left;
	font-family: Calibri;
	border-bottom-color: transparent;
	border-left-color: #c0c0c0;
	border-left-width: 0.5pt;
}

table.table_1
{
	margin-left: 5pt;
	border-collapse: collapse;
}

h3.Heading3
{
	margin-bottom: 10pt;
	font-weight: bold;
	color: #4F5457;
	page-break-after: avoid;
	margin-top: 17pt;
	mc-heading-level: 3;
	font-family: Calibri;
	font-size: 14pt;
}

li.HPBullet2
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	padding-left: .75pt;
	mc-auto-number-position: inside-head;
	display: list-item;
	margin-left: 22pt;
	list-style-type: circle;
}

p.HPContinue2
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	margin-left: 52pt;
}

li.HPBullet2Indent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	mc-auto-number-position: inside-head;
	padding-left: .75pt;
	list-style-type: circle;
	margin-left: 38pt;
}

span.BodyTextChar
{
	color: #4F5457;
	font-size: 11pt;
}

p.HPCaption
{
	color: #4F5457;
	font-style: italic;
	margin-top: 3pt;
	margin-bottom: 12pt;
	font-family: Calibri;
	font-size: 9pt;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

p.TableText
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-family: Calibri;
}

li.HPTableTextBullet2
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 10pt;
	list-style-position: outside;
	margin-right: 0pt;
	padding-left: 4pt;
	list-style-type: circle;
	margin-left: 15pt;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 4pt;
}

p.HPNoteWarning
{
	color: #4F5457;
	font-size: 11pt;
	margin-top: 9pt;
	margin-bottom: 9pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #C00000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #C00000;
	font-family: Calibri;
}

span.HPNoteWarningChar
{
	color: #4F5457;
	font-size: 11pt;
}

li.HPBullet3Indent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-size: 11pt;
	font-family: Calibri;
	list-style-type: square;
	display: list-item;
	list-style-position: outside;
	left: 22pt;
	mc-auto-number-position: float-left;
	margin-left: 54pt;
}

p.HPNote
{
	color: #4F5457;
	font-size: 11pt;
	border-top-style: solid;
	border-top-width: 2pt;
	border-top-color: #771B61;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #771B61;
	margin-top: 9pt;
	margin-bottom: 9pt;
	font-family: Calibri;
}

span.HPNoteChar
{
	color: #4F5457;
	font-size: 11pt;
}

p.HPNumber
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	list-style-type: persian;
	list-style-position: inherit;
}

p.HPTableTextBullet
{
	margin-bottom: 3pt;
	color: #4F5457;
	margin-top: 0pt;
	margin-left: 29pt;
	font-family: Calibri;
	font-size: 10pt;
	list-style-type: circle;
	list-style-position: inside;
}

p.HPTableTextIndent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-size: 10pt;
	font-family: Calibri;
	margin-left: 36pt;
}

p.HPBullet
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
}

p.HPTableTextSmall
{
	color: #4F5457;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Calibri;
	font-size: 8pt;
}

p.BodyTextFirstIndent
{
	font-size: 11pt;
	color: #4F5457;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Calibri;
}

table.table_2
{
	margin-left: 6pt;
	border-collapse: collapse;
}

p.HPBulletIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
}

p.HPTableHeading2
{
	font-weight: bold;
	margin-bottom: 0pt;
	text-align: center;
	font-family: Calibri;
	color: black;
	font-size: 10pt;
}

p.Text
{
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Calibri;
	color: black;
}

p.HPTableTextBullet2
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	margin-left: 47pt;
	font-family: Calibri;
	font-size: 10pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

li.HPNumber
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 4pt;
	mc-auto-number-position: inside-head;
	margin-left: 4pt;
}

li.HPNumberIndent
{
	font-size: 11pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-family: Calibri;
	mc-auto-number-position: inside-head;
	padding-left: .75pt;
	margin-left: 22pt;
}

li.HPTableTextBulletIndent
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	color: #4F5457;
	font-size: 10pt;
	font-family: Calibri;
	padding-left: 4pt;
	margin-left: 15pt;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 4pt;
	list-style-position: outside;
	margin-right: 0pt;
	list-style-type: disc;
	text-indent: 1pt;
}

table.table_3
{
	border-collapse: collapse;
}

h1
{
	
}

span.NotePurple
{
	color: #771b61;
	font-weight: bold;
}

span.WarningRed
{
	color: #c00000;
	font-weight: bold;
}

td.TableDivider
{
	background-color: #d7dbdb;
	border-bottom-color: #b22222;
}

th.TableHeading2
{
	background-color: #f4edf2;
	font-family: Calibri;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	border: solid 1px #c0c0c0;
}

ul.HPTableTextBullet2Replacement
{
	
}

ul.HPTableTextBullet2Replacement > li > ul
{
	list-style-type: disc;
	list-style-image: none;
}

ul.HPTableTextBullet2Replacement > li > ul > li::marker
{
	font-family: ;
	content: '-';
}

th.th_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #A5A5A5;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #A5A5A5;
	background-color: #3A557A;
	padding-top: 1pt;
	padding-bottom: 1pt;
	padding-left: 6pt;
	padding-right: 6pt;
	color: #ffffff;
	text-align: left;
	font-family: Calibri;
	border-bottom-color: transparent;
	border-left-color: #c0c0c0;
	border-left-width: 0.5pt;
}

MadCap|xref
{
	color: #0562c1;
	font-family: Calibri;
	font-size: 11pt;
}

@media print
{
	th.th_2
	{
		text-align: center;
	}
}

img.FitFrame
{
	max-width: 100%;
	min-width: 100%;
}

img.FitFrameIndent
{
	min-width: 90%;
	max-width: 90%;
}

img.FitFrameMenuBarorSidePanels
{
	max-width: 70%;
}

img.FitFramePopUp
{
	min-width: 35%;
	max-width: 50%;
}

MadCap|xref.CaptionReference
{
	mc-format: '{paranum}{paratext}';
	color: #808080;
	font-style: italic;
}

MadCap|xref.PageRefTable
{
	mc-format: '{u}{para}{/u} {color #4F5457} {pageref}{/color}';
	font-size: 10pt;
}

MadCap|xref.PageRef
{
	mc-format: '{u}{para} {/u} {color #4F5457} {pageref}{/color}';
}

MadCap|xref.CaptionReferenceTable
{
	mc-format: '{paranum}{paratext}';
	color: #808080;
	font-style: italic;
	font-size: 10pt;
}

